<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href='./css/style.css' >
    <script src ="/js/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
 {{>header}}
<body>
    <div class="main-container">
        <h2>What is a Weather API?</h2>
        <p>Weather APIs are Application Programming Interfaces, that allow you to connect to large databases of weather forecast and historical information.</p>
        <p> Thanks to APIs and smartphones with built-in GPS, we have access to mobile applications that provide hour-by-hour forecasts, severe weather alerts, and other relevant weather information for just about every place we go.</p>
    </div>
</body>
 {{>footer}}
</html>