<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href='./css/style.css' >
    <title>{{title}}</title>
</head>
 {{>header}}
<body>

    <div class="main-container">
        <h2>404: Page not Found</h2>
        <p>Weather APIs are Application Programming Interfaces, that allow you to connect to large databases of weather forecast and historical information.</p>
        <p>
            <ul class="errorList" style="list-style-type: circle;">
                <li>Make sure, you have entered a correct url.</li>
                <br>
                <li>Check the spellings provided in the Url.</li>
                <br>
                <li>Check the proxy settings, make sure you are not behind a secure firewall.</li>
                <br>
                <li>if all above are correct, Please go to help page and report the incident.</li>
            </ul>
        </p
    </div>
</body>
    {{>footer}}
</html>