<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href='./css/style.css' >
    <script src ="/js/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
 {{>header}}
<body>
    <div class="main-container">
        <h2>Facing any issue?</h2>
        <p>Please let us know if you are facing any kind o issue.</p>
    </div>
</body>
 {{>footer}}
</html>