<footer>
        <p>Weather api takes the data from tow third party open source apis. "The DarkSky & MapBox"</p>
        <p>Created By<span class="glyphicon glyphicon-heart"></span>@{{name}}</p>
</footer>