<h1><a href="/"><img class="logo_main" src="./img/logo.png" alt="logo"></a>Weather</h1>
    <header>
        <div class="navBar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a>
                <li><a class="active" href="/help">Help</a>
                <li class="contact" style="float: right;"><a href="/contact">Contact</a>
            </ul>
        </div>
    </header>